body { 
    display: flex;
    align-items: center ;
    flex-direction: column;
    background-color: #5a7485;
    padding-top: 20px;
    margin: 0;
}

/* ---------------------------------------- Home ---------------------------------------- */
.home {
    width: 80%;
    height: 48vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home--header {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.header--box_logo {
    width: 50%;
    margin-bottom: 16px;
    padding-left: 45px;
}

.header--menu_navegation {
    width: 50%;
    display: flex;
    justify-content: center;
}

.menu_navegation--container_menu {
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.container_menu--menu_iten {
    color: #000
}
:hover.container_menu--menu_iten {
    color: red;
    opacity: .8;
    padding-top: .2rem;
}

a {
    text-decoration: none;
}

.home--container_slide {
    z-index: 1;
    position: relative;
    width: 80%;
    height: 63%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid 1px ;
    border-radius: 5px;
    background-color: #c1c3be;
    padding: 20px 0px;
    overflow: hidden;
}

.img_banner {
    z-index: 0;
    position: absolute;
    width: 100%;
    opacity: .6;
    border-radius: 5px;
}

.arow {
    z-index: 3;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
:hover.arow {
    opacity: .5;
}

.container_slide--box_slide {
    z-index: 2;
    width: 88%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.box_slide--list_itens {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0px 0px 10px 0px;
}

.box_slide--title {
    font-size: 2rem;
    color: #164824;
}

.box_slide--btn {
    width: 20%;
    height: 7vh;
    font-size: 1rem;
    background-color: #cfc6b7;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
}

:hover.box_slide--btn {
    background-color: #58655c;
    opacity: .9;
}

/* ---------------------------------------- Real estate showcase ---------------------------------------- */
.immobile {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.immobile--title {
    font-size: 2rem;
    margin: 30px 0px 20px 0;
}

.immobile--container_carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container_carousel--item {
    width: 15%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between  ;
    background-color: #58655c;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 24px -7px #000;
}

.item--img {
    width: 90%;
}



.item--Type_immobile{
    margin: 5px 0 0 0;
}

.item--box_local {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.region {
    font-size: .6rem;
    margin: 0px 0px 10px 0;
}

.box_local--UF {
    margin:0px 0 0px 2px;
}



.item--box_characteristics {
    width: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.iconBox {
    display: flex;
    align-items: center;
    flex-direction: column;
}




.icon {
    width: 15px;
}



.item--btn_more {
    width: 70%;
    height: 10%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
:hover.item--btn_more {
    opacity: .4;
}

.container_carousel--box_navegation {
    width: 25%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
}

.box_navegation--item {
    width: 18px;
    height: 40%;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin-top: 35px;
}
:hover.box_navegation--item {
    opacity: .4;
}

/* ---------------------------------------- Action section ---------------------------------------- */
.action {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    box-shadow: 0px 0px 24px -7px #000;
    background-color: rgb(116, 114, 133);
}

.action--box_action {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.box_action--btn {
    width: 25%;
    height: 40%;
    border-radius: 5px;
    border: solid .5px;
    outline: none;
    cursor: pointer;
    background-color: #cfc6b7;
    margin-right: 50px;
}
:hover.box_action--btn {
    opacity: .4;
}

.box_action--text {
    width: 56%;
    font-size: 1.3rem;
}

/* ---------------------------------------- News ---------------------------------------- */
.news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 0 40px 0;
}

.news--title {
    font-size: 2rem;
    margin: 73px 0 20px 0;
}

.news--box_cardNews {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_cardNews--card_item {
    width: 23%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #58655c;
    padding: 10px 0;
    box-shadow: 0px 0px 24px -7px #000;
}

.box_cardNews--img_news {
    width: 90%;
}

.box_cardNews--box_textCardNews {
    width: 90%;
}

.box_textCardNews--title_news {
    font-size: 1.1rem;
}

.box_textCardNews--txt_news {
    font-size: .8rem;
}

.box_cardNews--box_btn {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.box_btn--btn_news {
    width: 50%;
    height: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}
:hover.box_btn--btn_news {
    opacity: .4;
}

.news--box_navegationCardNews {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box_navegationCardNews--item {
    width: 18px;
    height: 17px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin-top: 35px;
}
:hover.box_navegationCardNews--item {
    opacity: .4;
}